﻿@model List<web1.Models.article>

@{ 
    <h2> Makaleler </h2>
    foreach( var article in Model)
    {
        <!--div style="border:1px solid black"-->
        <h2>
            @article.article_header
        </h2>
        @Html.Raw(article.article_data)
        <strong>
            Olusturma Tarihi: @article.article_creation_time
        </strong>
        <p>
        @Html.ActionLink(
            "Devamini Oku...", 
            "ShowArticle", 
            "Article",
            new { id = article.articleID },
            null
        )
        </p>
    }
}
