﻿
@{
    ViewBag.Title = "ShowArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<web1.Models.article>

@{
    foreach (var article in Model)
    {
        <!--div style="border:1px solid black"-->
        <h2>
            @article.article_header
        </h2>
        @Html.Raw(article.article_data)
        <strong>
            Olusturma Tarihi: @article.article_creation_time
        </strong>
        <p>
            <strong>Yorumlar</strong>
        </p>
        <p>
            @Html.Action("ShowComments", "Article", new { articleID = article.articleID })
        </p>
    }
}