﻿
@model List<web1.Models.comment>

@{
    foreach (var comment in Model)
    {
        <div style="border:1px solid black"-->
            <h3>
                @comment.member.member_email
            </h3>
            <p> @comment.comment_data</p>
        </div>
    }
}