﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="screen" />
</head>
<body>
    <div id="wrap">
        <div id="menu">
            <ul>
                <li><a href="">Ana Sayfa</a></li>
                <li><a href="">Hakkında</a></li>
                <li><a href="">İletişim</a></li>
            </ul>
        </div>
        <div id="top">
            <h2> <a>Blog</a></h2>
        </div>
        <div id="content">
            <div id="left">
                <div class="box">
                    <ul class="input-list style-1 clearfix">
                        <li><input type="text" placeholder="Kullanıcı Adı"></li>
                        <li><input type="text" placeholder="Şifre"></li>
                        <li><button>Giriş</button></li>
                        <li><button>Üye Ol</button></li>
                    </ul>
                </div>
            </div>
            <div id="middle">
                    @RenderBody()
            </div>
            <div id="right">
                <div class="box">
                    <h2>Kategoriler</h2>
                    <ul>
                        <li><a href="">Randomised words</a> <i>10 nov 06</i></li>
                        <li><a href="">Look even slightly believable</a> <i>8 nov 06</i></li>
                        <li><a href="">Suffered alteration in form</a> <i>7 nov 06</i></li>
                        <li><a href="">Embarrassing hidden</a> <i>5 nov 06</i></li>
                        <li><a href="">Passages of lorem ipsum</a> <i>3 nov 06</i></li>
                    </ul>
                </div>
            </div>
            <div id="clear"></div>
        </div>
        <div id="footer">
            <p>Copyright 2017 Mesih Veysi Kılınç</p>
        </div>
    </div>
</body>
</html>
